.nav-item {
    font-size: 15px;
}

.nav-link {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav-main {
    font-size: 30px;
    font-family: "Courier";
    font-weight: bold;
}