.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #e9ebea;
}

.nav-link {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

.nav-main {
    font-size: 32px; 
    color: #051550; 
    position: relative;
    text-align: center;
    padding-bottom: 20px;
}

.nav-main:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 130px;
    background: #051550;
    border-radius: 2px;
}

.logo {
    width: 70px;
    height: 70px;
    position: relative;
}

img{
    width: 80px;
    height: 80px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 40px;
        height: 40px;
        position: relative;
    }
    
    img{
        width: 40px;
        height: 40px;
        position: relative;
    }
}