.top {
    top: 300px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items:flex-start
}

.left {
 padding-left: 10vw;
}

.right {

}

.output {
    width: 50rem;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 10px auto;
    text-align: center;
  
}


p{
    margin: 1rem;
    display: grid;
    place-content: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 400px;
    justify-content: center;
    width: 400px;
    left: 10vw
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

select {
    width: 120px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:300
}

input {
    width: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}



