.select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 1rem;    
}

.options {
    display: flex;
    gap: 5rem;
}

.output {
    width: 30rem;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}


p{
    margin: 1rem;
    display: grid;
    place-content: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}

select {
    width: 120px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:300
}

input {
    width: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}



