.select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.options {
    display: flex;
    gap: 5rem;
}

.output {
    width: 30rem;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}


p{
    margin: 1rem;
    display: grid;
    place-content: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}

select {
    width: 140px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:300;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input {
    width: 140px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

button {
    width: 200px
}

.instructions {
    margin-top: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .instructions p{
        font-size: 10px;
    }
}




